<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show {{ show.id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}    
    <a href="/shows" id="back">Go Back</a>
    <h1>Edit Show {{ show.id }}</h1>
    <form action="/shows/{{ show.id }}/update" method="POST">
        {% csrf_token %}
        <div id="title">
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{ show.title }}">            
        </div>
        <div id="split_form">
            <div id="network" class="half">
                <label for="network">Network</label><br>
                <input type="text" name="network" value="{{ show.network }}">
            </div>
            <div id="release_date" class="half">
                <label for="release_date">Release Date</label><br>
                <input type="date" name="release_date" value="{{ show.release_date|date:'Y-m-d' }}">
            </div>
        </div>
        <div id="desc">
            <label for="desc">Description</label><br>
            <input type="text" name="desc" value="{{ show.desc }}">
        </div>
        <input type="submit" value="Update">
    </form>
    <a href="/shows/{{ show.id }}">Go to Show</a>
</body>
</html>